#root {
  margin: 0;
  padding: 0;
}

.wrapper{
  display: grid;
  grid-row: 1;
  grid-template-columns: 2fr 8fr;
  padding: 1rem;
  background-color: #242424;

}

.gemini_title{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}

#gemini_logo{
  height: 2rem;
}

h1{
  font-size: 2rem;
}

.right-column{
  background-color: #F3F5EA;
}

.left-column{
  display: flex;
  flex-direction: column;
  justify-self: center;
}